.container {
    @media screen and (max-width: 400px) {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .mat-dialog-title {
            font-size: 20px;
        }

        .mat-dialog-title,
        .mat-dialog-content {
            margin-bottom: 10px;
            text-align: center;
        }
    }
    .capitalize {
        text-transform: capitalize;
    }

    @media screen and (max-width: 400px) {
        .actions-container {
            display: flex;
            gap: 10px;
            justify-content: center;
        }
    }
}
