<article class="container"><router-outlet></router-outlet>

    <section class="notation-list">

        <div class="notation-list__title">
            <h1>Список нотаций</h1>
        </div>

        <div class="notation-list__addNotation">
            <button mat-fab color="primary" routerLink="/create">
                <mat-icon>add</mat-icon>
            </button>

        </div>

        <div class="notation-list__content">
            <div class="notation" *ngFor="let notation of notationsArray">

                

                <mat-card>
                    <mat-card-actions>
                        <mat-icon [routerLink]="['/edit', notation.id]">edit</mat-icon>
                        <mat-icon (click)="modalWindowService.confirmation('delete', notation.id)">delete</mat-icon>
                    </mat-card-actions>

                    <mat-card-header>
                        <mat-title>
                            {{notation.title}}
                        </mat-title>
                    </mat-card-header>

                    <mat-content>
                        {{notation.description}}
                    </mat-content>

                </mat-card>
            </div>
        </div>
    </section>
</article>