<div class="container">
    <form [formGroup]="notationForm" (submit)="notationFormSubmit()">
        <div class="input-container">
            <input class="title" formControlName="title" placeholder="Название">
            <textarea class="description" formControlName="description" placeholder="Описание"></textarea>
            <button class="submit-button" type="submit">
                <mat-icon>check</mat-icon>
            </button>
        </div>

    </form>

    <div class="footer-buttons-container">

        <div *ngIf="edit; else cancel">
            <button (click)="modalWindowService.confirmation('cancelEdit')">
                <mat-icon>close</mat-icon>
            </button>
            <button (click)="modalWindowService.confirmation('delete', editNotation.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

        <ng-template #cancel>
            <button (click)="modalWindowService.confirmation('cancelNew')">
                <mat-icon>close</mat-icon>
            </button>
        </ng-template>
    </div>
</div>