html,
body {
    height: 100%;
    background-color: rgb(236, 236, 236);
}
body {
    font-size: 20px;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography {
    font-size: 16px;
}

//buttons
button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
 }

 .material-icons {
     cursor: pointer;
     color: rgba(0, 0, 0, 0.548);
     font-size: 22px;
 }

.color-basic {
    background-color: rgb(255, 255, 255);
}

.color-warn {
    color: white;
    background-color: rgb(243, 69, 69);
    border: 1px solid rgb(255, 34, 34) !important;

    &:hover {
        background-color: rgb(255, 34, 34);
    }
}

.color-success {
    background-color: rgb(118, 224, 124);
    border: 1px solid rgb(90, 230, 97) !important;

    &:hover {
        background-color: rgb(90, 230, 97);
    }
}